{{#if posts.length}}
  <section>
    <h2>Your Posts</h2>
    <ol>
      {{#each posts as |post|}}
        <ul class="list-group list-group-flush">
          <article class="post">
            <div class="title">
              <a href="/post/{{id}}">{{title}}</a>
            </div>
            <div class="meta">
              <strong>Posted by
                {{user.username}}
                on
                {{format_date created_at}}</strong>
            </div>
          </article>
          <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
        </ul>
      {{/each}}
    </ol>
  </section>
{{/if}}

<div>
  <a href="/dashboard/newpost"><button
      type="submit"
      class="btn btn-secondary"
    >Create New Post</button></a>
  {{! <button type="submit"><a
      href="/dashboard/newpost"
      class="btn btn-primary create-btn"
    >Create New Post</a></button> }}
</div>